* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    min-height: 100%;
}

table {
    width: 90%;
    margin: 20px auto;
    padding: 1px;
    border: 2px solid steelblue;
}

td {
    padding: 5px;
}

tr {
    background-color: #ddf1fd;
    border: 2px solid steelblue;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 40, 158);
    text-decoration: underline;
}

h5 {
    text-align: center;
    font-weight: 200;
}

#nav {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    padding: 20px;
}

#nav a {
    color: rgb(10, 42, 136);
}
